<div nz-col [nzSpan]="8">
  <nz-card class="card">
    <ng-container
      *ngIf="
        config.selected === 'personajes';
        then thenTemplate;
        else elseTemplate
      "
    ></ng-container>
    <ng-template #thenTemplate>
      <div class="image">
        <img src="../../../assets/img/rick-sanchez-0-cke.jpg" />
      </div>
      <div class="content">
        <h1>{{ data.name }}</h1>
        <p>
          <span><b>Tipo: </b>{{ data.type }}</span>
          <span><b>Dimensión</b>{{ data.dimension }}</span>
        </p>
        <button nz-button nzType="primary" (click)="isVisible = true">
          Ver Más
        </button>
      </div>
    </ng-template>
    <ng-template #elseTemplate>
      <div class="image">
        <img src="../../../assets/img/1_i2I7hwEpMLqP3qoqywM66w.png" />
      </div>
      <div class="content">
        <h1>{{ data.name }}</h1>
        <p>
          <span><b>Fecha: </b>{{ data.air_date | date }}</span>
          <span><b>Episodio: </b>{{ data.episode }}</span>
        </p>
        <button nz-button nzType="primary" (click)="isVisible = true">
          Ver Más
        </button>
      </div>
    </ng-template>
  </nz-card>
</div>

<nz-modal [(nzVisible)]="isVisible" (nzOnCancel)="handle()" (nzOnOk)="handle()">
  <div class="card modal">
    <div class="image">
      <img
        [src]="
          data.air_date
            ? '../../../assets/img/1_i2I7hwEpMLqP3qoqywM66w.png'
            : '../../../assets/img/rick-sanchez-0-cke.jpg'
        "
      />
    </div>
    <div class="content">
      <h1>{{ data.name }}</h1>
      <p>
        <span
          ><b>{{ data.air_date ? "Fecha:" : "Tipo:" }} </b
          >{{ (data.air_date | date) || data.type }}</span
        >
        <span
          ><b>{{ data.episode ? "Episodio:" : "Dimensión" }} </b
          >{{ data.episode || data.dimension }}</span
        >
        <span> <b>Creado: </b> {{ data.created | date }} </span>
      </p>
    </div>
  </div>
</nz-modal>
